body
{
    background-image:url("img5..jpg");
    background-repeat:no-repeat;
    background-size: cover;
    
    
    margin-top: 100px;
    margin-left: 80px;
    margin-bottom: 100px;
    margin-right: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1
{
   color:black;
   font :bold; 
}
form
{
 color:black;
 font :bold;
}
